*.gz
*.loom
*.h5ad
*.txt
*.csv
*.h5
*.tsv
*.pdf
*.png
*.svg
*.pkl
.ipynb_checkpoints
.Rhistory
.idea
build
triku.egg-info
*.mtx
*.RData
*.egg
*.pyc
*.tab
notebooks/triku_nb_code.egg-info
notebooks/build
notebooks/cache
notebooks/pkgs
notebooks/alevin_output
notebooks/figures
notebooks/Enrichr
data
cov*
.cov*
htmlcov
dist
.vscode
